body {
    font-family:sans-serif;
    text-align: center; 
    margin-top: 50px; 
    background-color: aqua;
}
input,button {
    padding: 8px;
    font: 17px "Arial";
    outline: none;
}
h3{
    font-size: 25px;
}
button{
    width: 100px;
    background-color: rgb(8, 227, 227);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
button:hover{
    background-color:rgb(8, 180, 180) ;
}
.content{
   padding: 20px
}
#out.active{
    display: inline-block;
    width: 25rem;
    height:17rem;
    padding: 25px;
    border: 1px solid black ;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
}
.City{
margin: 0 0 0 0;
font-size: 45px;
padding: 0 0 0 0;
}
